@font-face {
  font-family: "titulo";
  src: url("../font/titulo.otf");
  font-style: normal;
  font-weight: 300;
}
.titulo{
  font-family: titulo !important;
  color: #083C61;
}
@font-face {
  font-family: "text";
  src: url("../font/text.ttf");
  font-style: normal;
  font-weight: 300;
}
.titulo{
  font-family: titulo !important;
  color: #083C61;
}
.btn-1{
  background-color: #083C61;
  align-items: center;
  color: white;
  border-radius: 10px;
}
.text{
  font-family: text;
  color: black;
}
.line{
  line-height: 150%;
  font-weight: bolder;
  text-align: justify;
}
.letter{
  letter-spacing: 1px;
} 
.letter-1{
  letter-spacing: -0.8px;
}
.fs-7{
  font-size: 20px;
}
.fs-8{
  font-size: 18px;
}
.color-1{
  color: #083C61 !important;
}
.bg-1{
  background-color: #083C61;
}
.bg-2{
  background-color: #787878;
}
.sonbra-1{
  font-size: 28px !important;
  /* text-shadow: 2px 2px 2px white; */
  text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white;
}
.sonbra-2{
  text-shadow: -1.5px 0 black, 0 1.5px black,
	  1.5px 0 black, 0 -1.5px black
}
.sonbra-3{
  text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white;
}
#text-1{
  position: absolute; 
  margin-top: -30%; 
  z-index: 100; 
  width: 100%;
}

/* .focus{
    overflow:hidden;
    filter: sepia(60%);
    filter: grayscale(80%);
    transition:all .5s ease-in-out;
    box-shadow: 0px 0px 8px 1px black;

}
.focus:hover{
    -webkit-transform:scale(1.1);
    transition-duration: 500ms;
    transition-delay: 0.2s;
    transform:scale(1.1);
    filter: saturate(180%);
    cursor: pointer;
    box-shadow: none;
} */
