@font-face {
  font-family: "titulo";
  src: url("../font/titulo.otf");
  font-style: normal;
  font-weight: 300;
}
.bg-none{
  background-color: transparent !important;
}
.titulo{
  font-family: titulo !important;
  color: #083C61;
}
@font-face {
  font-family: "text";
  src: url("../font/text.ttf");
  font-style: normal;
  font-weight: 300;
}
.titulo{
  font-family: titulo !important;
  color: #083C61;
}
.btn-1{
  background-color: #083C61;
  align-items: center;
  color: white;
  border-radius: 10px;
}
.text{
  font-family: text;
  color: black;
}
.text-justify{
  text-align: justify !important;
}
.cursiva{
  font-style: italic !important;
}
.text-gris{
  color: #787878 !important;
  font-weight: bold;
}
.line{
  line-height: 150%;
  font-weight: bolder;
  text-align: justify;
}
.letter{
  letter-spacing: 1px;
} 
.letter-1{
  letter-spacing: -0.8px;
}
.fs-7{
  font-size: 17px;
}
.fs-8{
  font-size: 18px;
}
.color-1{
  color: #083C61 !important;
}
.bg-1{
  background-color: #083C61;
}
.bg-2{
  background-color: #787878;
}
.sonbra-1{
  font-size: 28px !important;
  /* text-shadow: 2px 2px 2px white; */
  text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white;
}
.sonbra-2{
  text-shadow: -1.5px 0 black, 0 1.5px black,
	  1.5px 0 black, 0 -1.5px black
}
.sonbra-3{
  text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white;
}
#text-1{
  position: absolute; 
  margin-top: -30%; 
  z-index: 100; 
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  #text-1{
    position: absolute; 
    margin-top: -30%; 
    z-index: 100; 
    width: 100%;
  }
}
@media only screen and (min-width: 310px) and (max-width: 768px){
  #text-1{
    position: absolute; 
    margin-top: -40%; 
    z-index: 100; 
    width: 100%;
  }
}
.margin-carrousel{
  margin-top: -10%;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .margin-carrousel{
      margin-top: -15%;
  }
}
@media only screen and (min-width: 568px) and (max-width: 768px){
  .margin-carrousel{
      margin-top: -21.5%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px){
  .margin-carrousel{
      /* margin-top: -40%; */
      margin-top: -8px;
  }
}
.border-dt{
  border-left: solid #dee2e6 1px;
}
@media only screen and (min-width: 1024px){
  .border-dt{
    border-left: none;
  }
}
.border-btn{
  border-right: none;
}
@media only screen and (max-width: 768px){
  .border-btn{
    border-right: solid #dee2e6 1px;
  }
}
.border-dt2{
  border-right: solid #dee2e6 1px;;
}
@media only screen and (max-width: 768px){
  .border-dt2{
    border-left: solid #dee2e6 1px;
    border-right: solid #dee2e6 1px;
  }
}
.top-lateral{
  padding-top: 10%;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.wrapper {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 200px;
}
.sidebar {
  width: 35%;
}
@media only screen and (min-width: 1025px) and (max-width: 1370px){
  .sidebar {
    width: 25%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .sidebar {
    width: 30%;
  }
}
@media only screen and (min-width: 568px) and (max-width: 768px){
  .sidebar {
    width: 80%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px){
  .sidebar {
    width: 100%;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.content,
.sidebar {
  float: left;
}
@media only screen and (min-width: 320px) and (max-width: 568px){
  .content,
  .sidebar {
    float: none;
    width: 80%;
  }
}
.content {
  width: 65%;
}
@media only screen and (min-width: 1025px) and (max-width: 1370px){
  .content {
    width: 75%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .content {
    width: 70%;
  }
}
@media only screen and (min-width: 568px) and (max-width: 768px){
  .content {
    width: 65%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px){
  .content {
    width: 100%;
  }
}
/* The sticky */
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 568px){
  .sidebar {
    position: static;
    position: relative;
    top: 15px;
  }
}
.btn-tours{
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 13px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #083C61;
}
.btn-tours:hover{
  color: #083C61;
  background-color: #fff;
  border: 1px solid #083C61;
  font-weight: bolder;
  text-decoration: none;
}
/* @media only screen and (max-width: 768px){
  .top-lateral{
    position: relative;
    top: 0;
    background-color: rgba(255, 255, 255, 0.871);
  }
} */
/* .focus{
    overflow:hidden;
    filter: sepia(60%);
    filter: grayscale(80%);
    transition:all .5s ease-in-out;
    box-shadow: 0px 0px 8px 1px black;

}
.focus:hover{
    -webkit-transform:scale(1.1);
    transition-duration: 500ms;
    transition-delay: 0.2s;
    transform:scale(1.1);
    filter: saturate(180%);
    cursor: pointer;
    box-shadow: none;
} */
