<header-web (dataEvent)='setLanguage($event)'></header-web>
<article class="container-fluid">
  <div class="row">
    <div class="col-3 px-3 py-5 text-center">
      <h2><i class="fas fa-phone-alt display-4 text-contact"></i></h2>
      <p class="text-center subtitle text-contact"><span class="text-dark">925 816256</span></p>
    </div>
    <div class="col-3 px-3 py-5 text-center border-1">
      <h2><i class="fas fa-envelope-open-text display-4 text-contact"></i></h2>
      <p class="text-center subtitle text-contact lh-sm mt-1"><span class="text-dark">reservas@wonderoutesperu.com</span> <br> <span class="text-dark">info@wonderoutesperu.com</span></p>
    </div>
    <div class="col-3 px-3 py-5 text-center border-1">
      <ul class="nav d-flex justify-content-center">
        <li class="nav-item">
          <a class="nav-link px-1 pb-0 mb-0" href="#"><i class="fab fa-facebook-square fs-2 text-contact"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-1 pb-0 mb-0" href="#"><i class="fab fa-instagram-square fs-2 text-contact"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-1 pb-0 mb-0" href="#"><i class="fab fa-twitter-square fs-2 text-contact"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-1 pb-0 mb-0" href="#"><i class="fab fa-youtube-square fs-2 text-contact"></i></a>
        </li>
      </ul>
      <p class="text-center subtitle text-contact mt-0">Síguenos para conocernos mas...</p>
    </div>
    <div class="col-3 fondo-azul p-3 text-center">
        <img src="../../assets/image/resources/contact.png" class="img-fluid" alt="">
    </div>
  </div>
</article>
<section class="page-wrapper py-5 fondo-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 offset-0 px-0">
        <div class="row d-flex align-items-center">
          <div class="col-8 py-5">
            <div class="container">
              <form class="formularios">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="name" class="form-control input-1" id="name" aria-describedby="nombre">
                </div>
                <div class="mb-3">
                  <label for="lastname" class="form-label">Apellido</label>
                  <input type="last" class="form-control input-1" id="lastname" aria-describedby="apellidos">
                </div>
                <div class="mb-3">
                  <label for="celular" class="form-label">Celular</label>
                  <input type="text" class="form-control input-1" id="celular" aria-describedby="celular">
                </div>
                <div class="mb-3">
                  <label for="mail" class="form-label">Email</label>
                  <input type="email" class="form-control input-1" id="mail" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="text-1" class="form-label">¿Donde es tu Destino?</label>
                  <input type="email" class="form-control input-1" id="mail" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="text-2" class="form-label">Example textarea</label>
                  <textarea class="form-control input-1" id="text-2" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-contact">Enviar</button>
              </form>
            </div>
          </div>
          <div class="col-4 px-0">
            <div class="card bg-contact border-0">
              <div class="card-body text-center text-white">
                <h5 class="text-white">RECIBE LA MEJOR ASESORÍA Y GESTIÓN EN VIAJES</h5>
                <p class="text-contact fw-bold">Wonderoutesperu</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer-web></footer-web>
