<footer class="container-fluid bg-1">
    <div class="container bg-1 pt-3">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <img src="../../assets/image/resources/logo3.png" class="img-fluid" alt="">
            </div>
            <div class="col-10 offset-1 border-top">
                <div class="row py-3">
                    <div class="col-4">
                        <h6 class="text-white titulo fw-bold">LOREN TEXTOS</h6>
                        <ul class="lh-sm mt-3 text fw-bold">
                            <li><a href=""><small class="text fw-bold">Tours</small></a></li>
                            <li><a href=""><small class="text fw-bold">Paquetes</small></a></li>
                            <li><a href=""><small class="text fw-bold">Servicios</small></a></li>
                          </ul>
                          
                    </div>
                    <div class="col-4">
                        <h6 class="text-white text-center titulo fw-bold">FOLLOW US</h6>
                        <div class="d-flex justify-content-evenly px-5 mt-5">
                            <i class="fab fa-twitter text-white fs-3"></i>
                            <i class="fab fa-instagram text-white fs-3"></i>
                            <i class="fab fa-youtube text-white fs-3"></i>
                            <i class="fab fa-facebook-f text-white fs-3"></i>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <h6 class="text-white titulo fw-bold">LOREM DE TEXTOS</h6>
                        <div class="lh-sm mt-3 text fw-bold">
                            <small>Lorem ipsum dolor sit.</small> <br>
                            <small>Lorem ipsum dolor sit 125462.</small> <br>
                            <small>Lorem ipsum dolor sit.</small> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-2 mt-3 text-dark">
        <div class="col-6 text-start text fw-bold">
            <small>Lorem, ipsum dolor.</small>
        </div>
        <div class="col-6 text-end text fw-bold">
            <small>Lorem ipsum dolor sit amet.</small>
        </div>
    </div>
</footer>