<footer class="container-fluid px-0">
    <img src="../../assets/image/resources/footer.png" class="img-fluid w-100"alt="">
    <div class="bg-footer border-0">
        <div class="container py-0 mg-f1">
            <div class="row">
                <div class="col-10 offset-1 mt-0">
                    <div class="row py-3">
                        <div class="col-4 text-start mg-f2">
                            <h6 class="text-white titulo fw-bold">LOREN TEXTOS</h6>
                            <ul class="lh-sm mt-3 text fw-bold text-gris">
                                <li><a href=""><small class="text text-gris fw-bold">Tours</small></a></li>
                                <li><a href=""><small class="text text-gris fw-bold">Paquetes</small></a></li>
                                <li><a href=""><small class="text text-gris fw-bold">Servicios</small></a></li>
                              </ul>
                              
                        </div>
                        <div class="col-4 text-center">
                            <img src="../../assets/image/resources/logo-2.png" class="img-fluid" alt="">
                            <!-- <h6 class="text-white text-center titulo fw-bold">FOLLOW US</h6> -->
                            <div class="d-flex justify-content-evenly px-5 mt-1">
                                <i class="fab fa-twitter text-white fs-4"></i>
                                <i class="fab fa-instagram text-white fs-4"></i>
                                <i class="fab fa-youtube text-white fs-4"></i>
                                <i class="fab fa-facebook-f text-white fs-4"></i>
                            </div>
                        </div>
                        <div class="col-4 text-end mg-f2">
                            <h6 class="text-white titulo fw-bold">LOREM DE TEXTOS</h6>
                            <div class="lh-sm mt-3 text text-gris fw-bold">
                                <small>Lorem ipsum dolor sit.</small> <br>
                                <small>Lorem ipsum dolor sit 125462.</small> <br>
                                <small>Lorem ipsum dolor sit.</small> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row container-fluid bg-2 text-dark mx-0">
        <div class="col-6 text-start text fw-bold">
            <small>Lorem, ipsum dolor.</small>
        </div>
        <div class="col-6 text-end text fw-bold">
            <small>Lorem ipsum dolor sit amet.</small>
        </div>
    </div>
</footer>