#mainMenu ul>li>a {
    color: #ffffff !important;
    font-weight: 100 !important;
    font-family: titulo !important;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    #mainMenu ul>li>a {
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
#mainMenu ul>li>a:hover {
    color: #ffffff;
    font-weight: 200;
    background-color: #083c61;
    /* transition: 0.5s; */
    padding-top: 5px;
    padding-bottom: 5px;
}

#mainMenu ul>li>a .link-1 {
    color: #083c61;
    font-weight: bold !important;
    font-family: titulo;
}
.pading-navbar{
   padding: 0 15%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .pading-navbar{
        padding: 0 8%;
     } 
}
.margin-carrousel{
    margin-top: -10%;
    z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .margin-carrousel{
        margin-top: -15%;
    }
}
@media only screen and (min-width: 310px) and (max-width: 768px){
    .margin-carrousel{
        margin-top: -21.5%;
    }
}
/* #mainMenu div>ul>li>a .link-1:hover{
    font-weight: bolder;
    background-color: #ffffff !important;
    transition: 0.5s;
    padding-top: 1px;
    padding-bottom: 1px;                                    

} */
/* #nav-1{
    color: #083c61 !important;
} */
#nav-1 :hover {
    background-color: #ffffff !important;
    transition: 0.5s;
    font-family: titulo !important;
    font-weight: bold !important;
}
.drop {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.drop-content {
    display: none;
    position: absolute;
    font-family: titulo;
    background-color: #083c618c;
    width: 250%;
    line-height: 10px;
    z-index: 1;
    font-size: 15px;
    border: none !important;
}

.drop-content a {
    color: white;
    padding: 15px 12px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    background-color: #0e3261
}

.drop:hover .drop-content {
    display: block;
}

.drop:hover .dropbtn {
    background-color: #083c61;
}
.text-header{
    margin-top: -25px !important; 
    margin-left: 18.5% !important; 
    position: absolute; 
    color: #083c61 ;
}
@media only screen and (min-width: 1025px) and (max-width: 1380px){
    .text-header{
        margin-left: 25.5% !important; 
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .text-header{
        margin-left: 28.5% !important; 
    }
}