#mainMenu ul>li>a {
  color: #ffffff;
  font-weight: 100 !important;
  font-family: titulo !important;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #mainMenu ul>li>a {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

#mainMenu ul>li>a:hover {
  color: #ffffff;
  font-weight: 200;
  background-color: #083c61;
  /* transition: 0.5s; */
  padding-top: 5px;
  padding-bottom: 5px;
}

#aboutusMenu .link-1 {
  color: #083c61;
  font-weight: bold !important;
  font-family: titulo;
}
#aboutusMenu .link-1:hover{
  color: white !important;
}
.pading-navbar {
  padding: 0 15%;
}

@media only screen and (min-width: 310px) and (max-width: 768px) {
  .pading-navbar {
    padding: 0 2%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .pading-navbar {
    padding: 0 8%;
  }
}

.fixed-top-wonder {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.871);
}

.negro{
  color: black !important;
  font-weight: bold;
}
.negro:hover{
  color: white !important;
}

.activo {
  color: #ffffff !important;
  font-weight: 200;
  background-color: #083c61;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fixed-top-wonder-panel-visible {
  visibility: visible !important;
}
.fondo-responsive{
  background-color: transparent;
}
@media only screen and (min-width: 320px) and (max-width: 568px){
  .fondo-responsive{
    margin-top: -8px;
    background-color: #08314f8c;
  }
}
/* @media only screen and (min-width: 768px) and (max-width: 1024px){
    #panelMenu {
        height: 100px;
        width: 100%;
        position: fixed;
        z-index: -1;
        top: 0%;
        left: 0%;
        visibility: hidden;
        padding: 50px 50px 50px 0 !important;
      } 
} */
/* #mainMenu div>ul>li>a .link-1:hover{
    font-weight: bolder;
    background-color: #ffffff !important;
    transition: 0.5s;
    padding-top: 1px;
    padding-bottom: 1px;                                    

} */
/* #nav-1{
    color: #083c61 !important;
} */
#nav-1 :hover {
  background-color: #ffffff;
  transition: 0.5s;
  font-family: titulo !important;
  font-weight: bold !important;
}

.drop {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.drop-content {
  display: none;
  position: absolute;
  font-family: titulo;
  background-color: #083c618c;
  width: 250%;
  line-height: 10px;
  z-index: 1;
  font-size: 15px;
  border: none !important;
}

.drop-content a {
  color: white;
  padding: 15px 12px;
  text-decoration: none;
  display: block;
}

.drop-content a:hover {
  background-color: #0e3261
}

.drop:hover .drop-content {
  display: block;
}

.drop:hover .dropbtn {
  background-color: #083c61;
}
.text-header {
  margin-top: -25px !important;
  margin-left: 14% !important;
  position: absolute;
  color: #083c61;
}

@media only screen and (min-width: 1025px) and (max-width: 1380px) {
  .text-header {
    margin-left: 18% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .text-header {
    margin-left: 19.5% !important;
  }
}
/* .bg-header{
  background-color: #0099da33;
  background-size: cover;
}
.bg-none{
  background-color: transparent;
  background-size: cover;
} */