<header class="container-fluid mb-0 px-0 py-0" id="mainMenu" style="z-index: 10;">
  <nav class="navbar navbar-expand-md navbar-light bg-header" style="z-index: 10;" id="bg" >
    <div class="container-fluid pading-navbar fondo-responsive">
      <a class="navbar-brand" id="logo-1" [routerLink]="['/home']"><img src="../../assets/image/resources/logo-4.png" alt="" style="z-index: 100;"></a>
      <a class="navbar-brand d-none" id="logo-2" [routerLink]="['/home']" ><img src="../../assets/image/resources/logo-3.png" alt="" style="z-index: 100;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-align-justify text-white"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex" id="navbarText">
          <ul class="navbar-nav d-flex justify-content-around lh-sm">
            <li class="nav-item active">
              <a class="nav-link" id="menu-1"  [routerLink]="['/home']">{{ 'menu.inicio' | translate }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="menu-2" [routerLink]="['/home']" href="#Machupicchu">{{ 'menu.day' | translate }}</a>
            </li>
            <!-- <li class="nav-item drop">
              <a class="nav-link text-white dropbtn" id="menu-2">{{ 'menu.day' | translate }}</a>
              <div class="drop-content border">
                <a href="#"><small>Lima</small></a>
                <a href="#"><small>Arequipa</small></a>
                <a href="#"><small>Cusco</small></a>
                <a href="#"><small>Ayacucho</small></a>
                <a href="#"><small>Piura</small></a>
                <a href="#"><small>Huanuco</small></a>
              </div>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" id="menu-3" [routerLink]="['/home']"  href="#Machupicchu">{{ 'menu.machupicchu' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="menu-4" [routerLink]="['/home']" href="#destinos">{{ 'menu.destino' | translate }}</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">REVIEWS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">BLOG</a>
            </li> -->
            <div class="badge badge-dark titulo line-2 text-header d-md-block d-none" style="z-index: -15;">
              <i class="fas fa-phone-alt me-1"></i>
                <small class="text-white fw-light" style="font-size: 13px;" id="texto-1"> {{ 'menu.texto' | translate }}</small> <span class="letter ms-1">903 502 502</span>
            </div>
            <li class="nav-item" id="aboutusMenu" style="position: relative;">
              <a class="nav-link link-1" style="color:#083c61; font-weight: bold !important;" [routerLink]="['/contact']" routerLinkActive="activo">{{ 'menu.contacto' | translate }}</a>
            </li>
            <a (click)="ocultar(false); setLanguage('es')" class="px-1" style="padding-top: 1px; padding-bottom: 1.5px; margin-top: -1px; cursor: pointer;" *ngIf="mostrar"><img src="../../assets/image/iconos/es.png" alt=""></a>
            <!-- <a (click)="ocultar(false); setLanguage('es')" class="bg-1 text-white border px-1" style="padding-top: 1px; padding-bottom: 1.5px; margin-top: -1px;" *ngIf="mostrar"><small><i class="fas fa-globe me-1" style="font-size: 17px;"></i><span style="font-size: 14px !important;">ES</span></small></a> -->
            <a (click)="ocultar(true); setLanguage('en')" class="px-1" style="padding-top: 1px; padding-bottom: 1.5px; margin-top: -1px; cursor: pointer;" *ngIf="!mostrar"><img src="../../assets/image/iconos/en.png" alt=""></a>
            <!-- <li class="nav-item drop border" id="idioma" *ngIf="mostrar">
              <a class="nav-link bg-1 nav-link text-white dropbtn" href="#"><i class="fas fa-globe text-white"></i></a>
              <div class="drop-content">
                <a [routerLink]="" (click)="setLanguage('es')"><small><i class="fas fa-globe me-2"></i><span style="font-size: 12px !important;">ES</span></small></a>
                <a [routerLink]="" (click)="setLanguage('en')"><small><i class="fas fa-globe me-2"></i><span style="font-size: 12px !important;">EN</span></small></a>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>