<header-web (dataEvent)='setLanguage($event)'></header-web>

<section class="page-wrapper">
  <section class="destinations-one" style="padding-top: 3%;">
    <div class="container-fluid px-0">
      <div class="section-title text-center">
        <!-- <span class="section-title__tagline">Destination lists</span> -->
        <!-- <h1 class="titulo fw-bold">PROMOCIONES</h1> -->
        <!-- <h2 class="section-title__title">Go Exotic Places</h2> -->
      </div>
      <div class="fixed-bottom text-end pe-5 pb-2">
        <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
          <i class="fas fa-chevron-up fs-2 fw-bold text-primary"></i>
        </a>
      </div>
    </div>
  </section>
  <!--Destinations One End-->
  <section class="w-100">
    <div class="grid row d-flex justify-content-center">
      <figure class="effect-lily focus col-3 px-0">
        <img src="../../assets/image/paquetes/cinta-1.jpg" class="img1" alt="img12" />
        <figcaption>
          <div class="text-center">
            <h2 class="titulo fw-bold mb-3 sonbra-1">$25</h2>
            <h2 class="titulo text-white sonbra-2 fw-bold">RAINBOW <span>MOUNTAIN</span></h2>
            <p class="fst-italic fw-bold sonbra-3">FULL DAY</p>
            <p class="fw-bold boton mx-auto my-2"><a href="" style="color: white !important;">Read
                More</a></p>
          </div>
          <a href="#" class="fw-bold">View more</a>
        </figcaption>
      </figure>
      <figure class="effect-lily focus col-3 px-0">
        <img src="../../assets/image/paquetes/cinta-2.jpg" alt="img2" class="img-fluid" />
        <figcaption class="text-center">
          <div>
            <h2 class="titulo fw-bold mb-3 sonbra-1">$25</h2>
            <h2 class="titulo fw-bold text-white sonbra-2">HUMANTAY <span>LAKE</span></h2>
            <p class="fst-italic fw-bold sonbra-3 text-uppercase">FULL DAY</p>
            <p class="fw-bold boton mx-auto my-2"><a href="" style="color: white !important;">Read
                More</a></p>
          </div>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <figure class="effect-lily focus col-3 px-0">
        <img src="../../assets/image/paquetes/cinta-3.jpg" class="img-fluid" alt="img3" />
        <figcaption class="text-center">
          <div>
            <h2 class="titulo fw-bold mb-3 sonbra-1">$229</h2>
            <h2 class="titulo fw-bold text-white sonbra-2">MACHU<span class="text-white">PICCHU</span>
            </h2>
            <p class="fst-italic fw-bold sonbra-3 text-uppercase">FULL DAY</p>
            <p class="fw-bold boton mx-auto my-2"><a href="" style="color: white !important;">Read
                More</a></p>
          </div>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <figure class="effect-lily focus col-3 px-0">
        <img src="../../assets/image/paquetes/cinta-4.jpg" class="img-fluid" alt="img12" />
        <figcaption class="text-center">
          <div>
            <h2 class="titulo fw-bold mb-3 sonbra-1">$140</h2>
            <h2 class="titulo text-white fw-bold sonbra-2">HUACA<span>CHINA</span></h2>
            <p class="fst-italic color-1 fw-bold sonbra-3 text-uppercase">FULL DAY</p>
            <p class="fw-bold boton mx-auto my-2"><a href="" style="color: white !important;">Read
                More</a></p>
            ¿
          </div>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <figure class="effect-lily focus col-4 px-0" id="prueba-1">
        <img src="../../assets/image/paquetes/cinta-5.jpg" class="img-fluid" alt="img12" />
        <figcaption class="text-center">
          <div>
            <h2 class="titulo fw-bold mb-3 sonbra-1">$270</h2>
            <h2 class="titulo text-white sonbra-2" style="font-size: 17px; font-weight: bold !important;">SUNRISE IN
              <span class="text-white">MACHUPICCHU</span></h2>
            <p class="fst-italic fw-bold sonbra-3 text-uppercase">4 dias y 3 noches</p>
            <p class="fw-bold boton mx-auto my-2"><a href="" style="color: white !important;">Read
                More</a></p>
          </div>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <figure class="effect-lily focus col-4 px-0" id="prueba-1">
        <img src="../../assets/image/paquetes/cinta-6.jpg" class="img-fluid" alt="img12" />
        <figcaption class="text-center">
          <div>
            <h2 class="titulo fw-bold mb-3 sonbra-1">$300</h2>
            <h2 class="titulo fw-bold text-white sonbra-2">SALKANTAY <span>TREK</span></h2>
            <p class="fst-italic fw-bold sonbra-3 text-uppercase">4 dias y 3 noches</p>
            <p class="fw-bold boton mx-auto my-2"><a href="" style="color: white !important;">Read
                More</a></p>
          </div>
          <a href="#">View more</a>
        </figcaption>
      </figure>
      <figure class="effect-lily focus col-4 px-0" id="prueba-1">
        <img src="../../assets/image/paquetes/cinta-7.jpg" class="img-fluid" alt="img12" />
        <figcaption class="text-center">
          <div>
            <h2 class="titulo fw-bold mb-3 sonbra-1">$300</h2>
            <h2 class="titulo text-white fw-bold sonbra-2">INKA <span>TRAIL </span></h2>
            <p class="fst-italic fw-bold sonbra-3 text-uppercase">4 dias y 3 noches</p>
            <p class="fw-bold boton mx-auto my-2"><a href="" style="color: white !important;">Read
                More</a></p>
          </div>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
    <!-- servicios -->
    <article class="container fondo-1">
        <div class="row">
            <div class="col-8 offset-2 py-5 my-5">
              <div class="text-center mb-0">
                <h1 class="titulo fw-bold">Nuestros Servicios</h1>
              </div>
              <div class="container my-3">
                <div class="row py-4">
                  <div class="col-4 text-center">
                    <i class="fas fa-plane fs-1 color-1"></i>
                    <p class="text fw-bold">Vuelos</p>
                  </div>
                  <div class="col-4 text-center color-1">
                    <i class="fas fa-bus fs-1"></i>
                    <p class="text fw-bold">Traslados</p>
                  </div>
                  <div class="col-4 text-center color-1">
                    <img src="../../assets/image/iconos/h.png" class="img-fluid width-1" alt="">
                    <p class="text fw-bold">Hoteles</p>
                  </div>
                  <div class="col-4 text-center color-1">
                    <i class="fas fa-car-alt fs-1"></i>
                    <p class="text fw-bold">Alquiler de Autos</p>
                  </div>
                  <div class="col-4 text-center">
                    <i class="far fa-map fs-1 color-1"></i>
                    <p class="text fw-bold">Tours y Excursiones</p>
                  </div>
                  <div class="col-4 text-center">
                    <img src="../../assets/image/iconos/barco.png" class="img-fluid width-1" alt="">
                    <p class="text fw-bold">Cruceros</p>
                  </div>
                  <div class="col-4 text-center">
                    <img src="../../assets/image/iconos/shield.png" class="img-fluid width-1" alt="">
                    <p class="text fw-bold">Seguros de Viajes</p>
                  </div>
                  <div class="col-4 text-center">
                    <i class="fas fa-suitcase fs-1 color-1"></i>
                    <p class="text fw-bold">Todo incluido</p>
                  </div>
                  <div class="col-4 text-center">
                    <img src="../../assets/image/iconos/ticket.png" class="img-fluid width-1" alt="">
                    <p class="text fw-bold">Tickets para tren</p>
                  </div>
                  <div class="col-4 text-center">
                    <img src="../../assets/image/iconos/hearth.png" class="img-fluid width-1" alt="">
                    <p class="text fw-bold">Luna de miel</p>
                  </div>
                  <div class="col-4 text-center">
                    <img src="../../assets/image/iconos/familia.png" class="img-fluid width-1" alt="">
                    <p class="text fw-bold">Family Trips</p>
                  </div>
                  <div class="col-4 text-center">
                    <i class="far fa-calendar-check fs-1 color-1"></i>
                    <p class="text fw-bold">Eventos</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </article>
    <!-- final de servicios -->
  </section>
  <section class="container-fluid px-5 ">
    <div class="row d-flex justify-content-center mb-5">
      <div class="col-4">
        <div class="testimonail-one__content">
          <div class="testimonial-one__top-revivew-box mb-3 mt-0">
            <img src="../../assets/image/resources/star.png" alt="">
          </div>
          <h3 class="testimonial-one__client-name titulo fw-bold">A LA MEDIDA</h3>
          <p class="testimonial-one__text text line letter-1 lh-sm">Itinerarios a la medida en base al estilo e
            intereses
            de nuestros viajeros.
            Nos aseguramos de cubrir las necesidades y preferencias de una manera personalizada
            superando así tus expectativas.
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="testimonail-one__content">
          <div class="testimonial-one__top-revivew-box mb-3 mt-0">
            <img src="../../assets/image/resources/star.png" alt="">
          </div>
          <h3 class="testimonial-one__client-name titulo fw-bold">ASISTENCIA 24/7</h3>
          <p class="testimonial-one__text text line letter-1 lh-sm">
            Atención personalizada antes, durante y después de la aventura, manteniendo un contacto y
            monitoreo constante en cada viaje,
            para que usted este complacido con nuestro servicio y nuestro trato.
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="testimonail-one__content">
          <div class="testimonial-one__top-revivew-box mb-3 mt-0">
            <img src="../../assets/image/resources/star.png" alt="">
          </div>
          <h3 class="testimonial-one__client-name titulo fw-bold">MEJORES PRECIOS</h3>
          <p class="testimonial-one__text text line letter-1 lh-sm">
            Solidas alianzas locales que dan lugar a precios muy competitivos, manteniendo la calidad y
            el buen servicio, trabajamos con
            aliados estratégicos de alta calidad, tecnología y rapidez al servicio de nuestros viajeros.
          </p>
        </div>
      </div>
      <div class="col-12 w-100 my-3"></div>
      <div class="col-4">
        <div class="testimonail-one__content">
          <div class="testimonial-one__top-revivew-box mb-3 mt-0">
            <img src="../../assets/image/resources/star.png" alt="">
          </div>
          <h3 class="testimonial-one__client-name titulo fw-bold">FORMACION</h3>
          <p class="testimonial-one__text text line letter-1 lh-sm">
            Solidas alianzas locales que dan lugar a precios muy competitivos, manteniendo la calidad y
            el buen servicio, trabajamos con
            aliados estratégicos de alta calidad, tecnología y rapidez al servicio de nuestros viajeros.
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="testimonail-one__content">
          <div class="testimonial-one__top-revivew-box mb-3">
            <img src="../../assets/image/resources/star.png" alt="">
          </div>
          <h6 class="titulo fw-bold">TURISMO SOSTENIBLE Y CULTURA VIVA</h6>
          <p class="testimonial-one__text text line letter-1 lh-sm">
            En <span class="color-1 fw-bold">WONDER ROUTES PERÚ</span> tenemos un profundo respeto por nuestra cultura,
            naturaleza y medio ambiente. Creemos en brindar un servicio responsable y de calidad preservando la imagen y
            la arquitectura de nuestro patrimonio asi como las costumbres de nuestro pueblo.
          </p>
        </div>
      </div>
    </div>
    <div class="w-100" style="margin: 5% 2%;"></div>
    <div class="container my-5 text-center lh-1">
      <h1 class="titulo fw-bold">CUSCO</h1>
      <p class="titulo text-dark fw-bold fst-italic">TOURS & EXCURSIONS</p>
    </div>
  </section>
  <div class="w-100 d-lg-block d-none" style="margin-top: 30%;"></div>
  <section class="container-fluid px-5 my-0">
    <div class="row my-5 px-5">
      <div class="col-lg-8 col-md-7 col-12 px-lg-5 px-1">
        <div id="carousel">
          <div class="hideLeft">
            <img src="/../../assets/image/carrousel/carrousel-1.jpg">
            <div class="container text-center mx-auto" id="text-1">
              <a routerLink="/tours">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">CITY TOUR</h5>
              </a>
              <p class="text-uppercase mb-0 text-center sonbra-3 color-1 titulo">HALF DAY</p>
              <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
            </div>
          </div>
          <div class="hideLeft">
            <img src="/../../assets/image/carrousel/carrousel-2.jpg">
            <div class="container text-center mx-auto" id="text-1">
              <a href="tours.html">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">SACRED VALLEY</h5>
              </a>
              <p class="text-uppercase mb-0 text-center sonbra-3 color-1 titulo">FULL DAY</p>
              <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
            </div>
          </div>
          <div class="prevLeftSecond">
            <img src="/../../assets/image/carrousel/carrousel-3.jpg">
            <div class="container text-center mx-auto" id="text-1">
              <a href="index.html">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">HUMANTAY LAKE</h5>
              </a>
              <p class="text-uppercase mb-0 text-center sonbra-3 color-1 titulo">FULL DAY</p>
              <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
            </div>
          </div>
          <div class="prev">
            <img src="/../../assets/image/carrousel/carrousel-4.jpg">
            <div class="container text-center mx-auto" id="text-1">
              <h5 class="titulo text-white fw-bold text-center sonbra-2">RAINBOW MOUNTAIN</h5>
              <p class="text-uppercase mb-0 text-center sonbra-3 color-1 titulo">FULL DAY</p>
              <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
            </div>
          </div>
          <div class="selected">
            <img src="/../../assets/image/carrousel/carrousel-5.jpg">
            <div class="container text-center mx-auto" id="text-1">
              <h5 class="titulo text-white fw-bold text-center sonbra-2">SACRED VALLEY VIP</h5>
              <p class="text-uppercase mb-0 text-center sonbra-3 color-1 titulo">FULL DAY</p>
              <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
            </div>
          </div>
          <div class="next">
            <img src="/../../assets/image/carrousel/carrousel-6.jpg">
            <div class="container text-center mx-auto" id="text-1">
              <h5 class="titulo text-white fw-bold text-center sonbra-2">WAQRAPUKARA</h5>
              <p class="text-uppercase mb-0 text-center sonbra-3 color-1 titulo">FULL DAY</p>
              <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
            </div>
          </div>
          <div class="nextRightSecond">
            <img src="/../../assets/image/carrousel/carrousel-7.jpg">
            <div class="container text-center mx-auto" id="text-1">
              <h5 class="titulo text-white fw-bold text-center sonbra-2">PALCOYO</h5>
              <p class="text-uppercase mb-0 text-center sonbra-3 color-1 titulo">FULL DAY</p>
              <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
            </div>
          </div>
          <div class="hideRight">
            <img src="/../../assets/image/carrousel/carrousel-8.jpg">
            <div class="container text-center mx-auto" id="text-1">
              <h5 class="titulo text-white fw-bold text-center sonbra-2">QUAD BIKING</h5>
              <p class="text-uppercase mb-0 text-center sonbra-3 color-1 titulo">HALF DAY</p>
              <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
            </div>
          </div>
          <div class="hideRight">
            <img src="/../../assets/image/carrousel/carrousel-9.jpg">
            <div class="container text-center mx-auto" id="text-1">
              <h5 class="titulo text-white fw-bold text-center sonbra-2">SOUTH VALLEY</h5>
              <p class="text-uppercase mb-0 text-center sonbra-3 color-1 titulo">FULL DAY</p>
              <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
            </div>
          </div>
          <div class="hideRight">
            <img src="/../../assets/image/carrousel/carrousel-10.jpg">
            <div class="container text-center mx-auto" id="text-1">
              <h5 class="titulo text-white fw-bold text-center sonbra-2">HUCHUY QOSQO</h5>
              <p class="text-uppercase mb-0 text-center sonbra-3 color-1 titulo">( 2 D/1N)</p>
              <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
            </div>
          </div>
          <div class="hideRight">
            <img src="/../../assets/image/carrousel/carrousel-11.jpg">
            <div class="container text-center mx-auto" id="text-1">
              <h5 class="titulo text-white fw-bold text-center sonbra-2">BUNGEE JUMPING</h5>
              <p class="text-uppercase mb-0 text-center color-1 sonbra-3 titulo">FULL DAY</p>
              <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-12 margen-1">
        <div class="container">
          <!-- <h1 class="titulo mb-3 fw-bold"><u>Cusco</u></h1> -->
          <p class="text line"><span class="titulo fw-bold">Y</span>ou have one or two days off and you
            want to make the most of your time in
            Cusco. <br> This one is the best way to discover the historical legacy of the Incas, explore
            every corner of this fascinating destination, Cusco, the imperial city of the Incas. </p>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin: 8%">
      <div class="row">
        <div class="col-12 text-center" style="position: relative; margin-top: -32%;">
          <div class="container">
            <h1 class="titulo fw-bold">MACHUPICCHU</h1>
            <p class="titulo text-dark fw-bold fst-italic">WONDERFUL EXPERIENCES</p>
          </div>
        </div>
        <div class="w-100" style="margin-top: 7%;"></div>
        <div class="col-lg-4 col-md-5 col-12 margen-1">
          <div class="container">
            <p class="text line">The sanctuary of Machupicchu, considered one of the most beautiful and
              mysterious places in the world has become a must-see stop
              not only from Cusco but from Peru and Latin America. <br> Visiting Machu Picchu is one
              of the journeys that many travelers dream of making,tour the majesty of its buildings
              and feel the spiritual energy that emanates will leave us stunned and with an
              unforgettable memory </p>
          </div>
        </div>
        <div class="col-lg-8 col-md-7 col-12 px-lg-5 px-1">
          <div id="carousel">
            <div class="hideLeft">
              <img src="/../../assets/image/carrousel/c-1.jpg">
              <div class="container text-center mx-auto" id="text-1">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">MACHUPICCHU </h5>
                <p class="text-uppercase titulo mb-0 text-center sonbra-3 color-1 fw-bold">FULL DAY</p>
                <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
              </div>
            </div>
            <div class="hideLeft">
              <img src="/../../assets/image/carrousel/c-2.jpg">
              <div class="container text-center mx-auto" id="text-1">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">INKA JUNGLE</h5>
                <p class="text-uppercase titulo mb-0 text-center sonbra-3 color-1 fw-bold">4D / 3N</p>
                <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
              </div>
            </div>
            <div class="prevLeftSecond">
              <img src="/../../assets/image/carrousel/c-3.jpg">
              <div class="container text-center mx-auto" id="text-1">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">REAL INKA TRAIL</h5>
                <p class="text-uppercase titulo mb-0 text-center sonbra-3 color-1 fw-bold">4D / 3N</p>
                <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
              </div>
            </div>
            <div class="prev">
              <img src="/../../assets/image/carrousel/c-4.jpg">
              <div class="container text-center mx-auto" id="text-1">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">INKA TRAIL</h5>
                <p class="text-uppercase titulo mb-0 text-center sonbra-3 color-1 fw-bold">2D / 1N</p>
                <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
              </div>
            </div>
            <div class="selected">
              <img src="/../../assets/image/carrousel/c-5.jpg">
              <div class="container text-center mx-auto" id="text-1">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">SALKANTAY TREK</h5>
                <p class="text-uppercase titulo mb-0 text-center sonbra-3 color-1 fw-bold">5D / 4N</p>
                <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
              </div>
            </div>
            <div class="next">
              <img src="/../../assets/image/carrousel/c-6.jpg">
              <div class="container text-center mx-auto" id="text-1">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">SALKANTAY TREK</h5>
                <p class="text-uppercase titulo mb-0 text-center sonbra-3 color-1 fw-bold">4D / 3N</p>
                <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
              </div>
            </div>
            <div class="nextRightSecond">
              <img src="/../../assets/image/carrousel/c-7.jpg">
              <div class="container text-center mx-auto" id="text-1">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">MACHUPICCHU BY CAR</h5>
                <p class="text-uppercase titulo mb-0 text-center sonbra-3 color-1 fw-bold">2D / 1N</p>
                <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
              </div>
            </div>
            <div class="hideRight">
              <img src="/../../assets/image/carrousel/c-8.jpg">
              <div class="container text-center mx-auto" id="text-1">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">SACRED VALLEY + MACHUPICCHU</h5>
                <p class="text-uppercase titulo mb-0 text-center sonbra-3 color-1 fw-bold">2D / 1N</p>
                <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
              </div>
            </div>
            <div class="hideRight">
              <img src="/../../assets/image/carrousel/c-9.jpg">
              <div class="container text-center mx-auto" id="text-1">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">MACHUPICCHU + WAYNAPICCHU</h5>
                <p class="text-uppercase titulo mb-0 text-center sonbra-3 color-1 fw-bold">2D / 1N</p>
                <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
              </div>
            </div>
            <div class="hideRight">
              <img src="/../../assets/image/carrousel/c-10.jpg">
              <div class="container text-center mx-auto" id="text-1">
                <h5 class="titulo text-white fw-bold text-center sonbra-2">LARES TREK TO MACHUPICCCHU</h5>
                <p class="text-uppercase titulo mb-0 text-center sonbra-3 color-1 fw-bold">4D / 3N</p>
                <p class="text-center"><a type="button" class="boton-1 text-center">Small button</a></p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="container-fluid mb-5" style="margin-top: -20%;">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Peru</h1>
            <img src="../../assets/image/card/card-1.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                WONDER ROUTES PERU
              </h3>
              <p class="text-center fw-bold">12D/11N</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Cusco</h1>
            <img src="../../assets/image/card/card-2.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                ADVENTUROUS CUSCO
              </h3>
              <p class="text-center fw-bold">5D/4N</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Cusco</h1>
            <img src="../../assets/image/card/card-3.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                CUSCO IN A GLANCE
              </h3>
              <p class="text-center fw-bold">3D/2N</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Machupicchu</h1>
            <img src="../../assets/image/card/card-4.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                AWAKENING IN MACHUPICCHU
              </h3>
              <p class="text-center fw-bold">4D/3N</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
        <div class="w-100 my-3"></div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Cusco</h1>
            <img src="../../assets/image/card/card-5.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                CHOQUEQUIRAW TREK
              </h3>
              <p class="text-center fw-bold">4D/3N</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Madre de Dios</h1>
            <img src="../../assets/image/card/card-6.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                MANU NATIONAL PARK
              </h3>
              <p class="text-center fw-bold">4D/3N</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Puno</h1>
            <img src="../../assets/image/card/card-7.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                ISLAND OF THE GODS
              </h3>
              <p class="text-center fw-bold">2D/1N</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Puno</h1>
            <img src="../../assets/image/card/card-8.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                FLOATING ISLANDS
              </h3>
              <p class="text-center fw-bold">3D/2N</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
        <div class="w-100 my-3"></div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Ica</h1>
            <img src="../../assets/image/card/card-9.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                LIMA PARACAS ICA LIMA
              </h3>
              <p class="text-center fw-bold">2D/1N</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Arequipa</h1>
            <img src="../../assets/image/card/card-10.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                MARVELOUS AREQUIPA
              </h3>
              <p class="text-center fw-bold">3D/2N</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Arequipa</h1>
            <img src="../../assets/image/card/card-11.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                COLCA CANYON
              </h3>
              <p class="fw-bold text-center">2D/1N</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="card-1 image-block mx-auto">
            <h1 class="titulo fw-bold">Arequipa</h1>
            <img src="../../assets/image/card/card-12.jpg" class="img-fluid" alt="">
            <figcaption class="py-3 px-3 text-center text">
              <h3 class="text-white">
                COLCA CANYON
              </h3>
              <p class="fw-bold text-center">FULL DAY</p>
              <button>
                Read
              </button>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<footer-web></footer-web>
