.filto-1 {
  filter: brightness(0.4) !important;
  z-index: 0;
}

.carrousel-top {
  top: 30%;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .carrousel-top {
    top: 20% !important;
  }
}

@media only screen and (max-width: 768px) {
  .carrousel-top {
    top: 30% !important;
  }
}

@media only screen and (max-width: 1024) {
  .carrousel-top {
    top: 30% !important;
  }
}

.carousel {
  background: #FAFAFA;
  margin-bottom: 40px;
}

.carousel-cell {
  width: 100%;
  height: 350px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-nav .carousel-cell {
  height: 80px;
  width: 100px;
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background: #ED2;
}

.fixed-top-wonder {
  position: fixed;
  z-index: -100 !important;
  top: 150px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.wrapper {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 200px;
}
.sidebar {
  width: 35%;
}
@media only screen and (min-width: 1025px) and (max-width: 1370px){
  .sidebar {
    width: 25%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .sidebar {
    width: 30%;
  }
}
@media only screen and (min-width: 568px) and (max-width: 768px){
  .sidebar {
    width: 80%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px){
  .sidebar {
    width: 100%;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.content,
.sidebar {
  float: left;
}
@media only screen and (min-width: 320px) and (max-width: 568px){
  .content,
  .sidebar {
    float: none;
    width: 80%;
  }
}
.content {
  width: 65%;
}
@media only screen and (min-width: 1025px) and (max-width: 1370px){
  .content {
    width: 75%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .content {
    width: 70%;
  }
}
@media only screen and (min-width: 568px) and (max-width: 768px){
  .content {
    width: 65%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px){
  .content {
    width: 100%;
  }
}
/* The sticky */
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 568px){
  .sidebar {
    position: static;
    position: relative;
    top: 15px;
  }
}